body {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
}

h1 {
    font-size: 56px;
    font-weight: 900;
    margin: 0;
}

p {
    font-size: 24px;
    margin: 0 0 24px 0;
    opacity: 0.75;
}

a {
    color: #FFF;
    outline: 0;
    text-decoration: none;
}

#container {
    width: 100vw;
    height: 100vh;
    background-color: #348cb2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#middle_box {
    animation: motion 1s linear 0.5s forwards;
    opacity: 0;
    text-align: center;
    width: 100vw;
}

.social_links{
    display: flex;
    justify-content: center;
}

.social_icon{
    transition: all 0.5s ease-in-out;
    border-radius: 0 10px;
    border: 1px solid #fff;
    width: 72px;
    height: 72px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.social_icon:hover {
  cursor: pointer;
  background-color: #459dc3;
  /* rgba(255, 255, 255, 0.175); */
}

.social_icon a {
  font-size: 28px;
}

@keyframes motion {
   0% {
       margin-top: -250px;
       opacity: 0;
   }

   100% {
       margin-top: -300px;
       opacity: 1;
   }
}
